@import "tailwindcss";

@theme {
  --color-white: #fff;
  --color-secondary: #6c757d;
  --color-body: #212529;
  --color-primary: #007bff;
  --color-muted: #6c757d;
  --color-code: #ad2d37;
  --color-danger: #dc3545;
  --color-success: #28a745;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --spacing: 1px;
}

body {
  background: var(--color-white);
  color: var(--color-body);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: 40px;
  line-height: 48px;
}
h2 {
  font-size: 32px;
  line-height: 38px;
}
h3 {
  font-size: 28px;
  line-height: 32px;
}
h4 {
  font-size: 24px;
  line-height: 28px;
}
h5 {
  font-size: 20px;
  line-height: 24px;
}
h6 {
  font-size: 16px;
  line-height: 20px;
}
p {
  font-size: 16px;
  line-height: 24px;
}
